body {
    background-color: rgb(139, 117, 131) !important;
}

.jumbotron {
    border-radius: 10px !important;
}

img {
    border-radius: 10px;
}

p {
    color: wheat;
    font-size: 15px;
    font-weight: 700;
}
    
