body {
    background-color: rgb(139, 117, 131) !important;
}

.jumbotron {
    border-radius: 10px !important;
}

img {
    border-radius: 10px;
}

p {
    color: wheat;
    font-size: 15px;
    font-weight: 700;
    text-shadow: black 1px 1px;
}
.text-center {
    text-shadow: black 2px 3px;
}
.text {
    font-size: 25px;
    text-shadow: black 1px 2px;
    margin-left: 125px;
}
p small {
    font-size: 15px;
}
    
